google-services.json
app/google-services.json
api
lib64
systrace
deployagent.jar
deploypatchgenerator.jar
adb.exe
AdbWinApi.dll
AdbWinUsbApi.dll
deployagent
dmtracedump.exe
etc1tool.exe
fastboot.exe
hprof-conv.exe
libwinpthread-1.dll
make_f2fs.exe
mke2fs.conf
mke2fs.exe
NOTICE.txt
source.properties
sqlite3.exe